1. What are data structures, and why are they important?


Data structures are ways of organizing and storing data efficiently. They are important because they help in accessing and manipulating data quickly and effectively.

2. Explain the difference between mutable and immutable data types with examples.


Mutable types (like lists, dictionaries) can be changed after creation, while immutable types (like strings, tuples) cannot. Example: list1 = [1, 2] is mutable; tuple1 = (1, 2) is immutable.

3. What are the main differences between lists and tuples in Python?


Lists are mutable and use square brackets [], while tuples are immutable and use parentheses (). Tuples are faster and used for fixed data.

4. Describe how dictionaries store data.


Dictionaries store data in key-value pairs using a hash table under the hood. Each key is hashed to determine where its value is stored.

5. Why might you use a set instead of a list in Python?


Sets are used when you need to store unique items and perform fast membership tests. Unlike lists, sets automatically eliminate duplicates.

6. What is a string in Python, and how is it different from a list?


A string is a sequence of characters and is immutable, while a list is a mutable sequence that can contain different types of elements.

7. How do tuples ensure data integrity in Python?


Tuples are immutable, so once created, their contents cannot change. This ensures that the data remains consistent throughout the program.

8. What is a hash table, and how does it relate to dictionaries in Python?


A hash table is a data structure that maps keys to values using a hash function. Python dictionaries use hash tables to enable fast lookups.

9. Can lists contain different data types in Python?


Yes, Python lists can contain elements of different data types like integers, strings, or even other lists and objects.

10. Explain why strings are immutable in Python.


Strings are immutable to improve performance and ensure security, especially when used as keys in dictionaries or in multi-threaded environments.

11. What advantages do dictionaries offer over lists for certain tasks?


Dictionaries offer fast access to data via keys, making them ideal for lookups, mappings, and when associating specific labels with values.

12. Describe a scenario where using a tuple would be preferable over a list.


Use a tuple when the data shouldn’t change, like storing coordinates (x, y) or passing fixed arguments to a function.

13. How do sets handle duplicate values in Python?


Sets automatically remove duplicate values. Adding a duplicate element has no effect on the set.

14. How does the “in” keyword work differently for lists and dictionaries?


For lists, "in" checks if a value exists. For dictionaries, it checks if a key exists (not the value).

15. Can you modify the elements of a tuple? Explain why or why not.


No, tuples are immutable, so their elements cannot be changed after creation. This makes them hashable and suitable as dictionary keys.

16. What is a nested dictionary, and give an example of its use case.


A nested dictionary contains dictionaries inside another dictionary. Example: student = {"name": "A", "marks": {"math": 90, "eng": 85}}.

17. Describe the time complexity of accessing elements in a dictionary.


Accessing elements in a dictionary is on average O(1) due to its hash table implementation.

18. In what situations are lists preferred over dictionaries?


Lists are preferred when you need ordered, indexed data or when the relationship between elements isn’t based on key-value pairs.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?


Dictionaries used to be unordered before Python 3.7. Now they maintain insertion order, but still, retrieval is based on keys, not position.

20. Explain the difference between a list and a dictionary in terms of data retrieval.


Lists retrieve data by index (position), while dictionaries retrieve data using keys. Dictionary lookups are typically faster.

In [2]:
#practical questions

# Q1: Write a code to create a string with your name and print it
# Answer: Create a string variable with your name and print it.
name = "Nishika Yadav"
print(name)

Nishika Yadav

In [3]:
# Q2: Write a code to find the length of the string "Hello World"
# Answer: Use the built-in len() function to get the length of the string.
text = "Hello World"
print(len(text))

11

In [4]:
# Q3: Write a code to slice the first 3 characters from the string "Python Programming"
# Answer: Use slicing to extract the first 3 characters.
s = "Python Programming"
print(s[:3])

Pyt

In [5]:
# Q4: Write a code to convert the string "hello" to uppercase
# Answer: Use the upper() method to convert to uppercase.
word = "hello"
print(word.upper())

HELLO

In [6]:
# Q5: Write a code to replace the word "apple" with "orange" in the string "I like apple"
# Answer: Use the replace() method on the string.
s = "I like apple"
print(s.replace("apple", "orange"))

I like orange

In [7]:
# Q6: Write a code to create a list with numbers 1 to 5 and print it
# Answer: Use square brackets to create a list with numbers 1 to 5.
nums = [1, 2, 3, 4, 5]
print(nums)

[1, 2, 3, 4, 5]

In [8]:
# Q7: Write a code to append the number 10 to the list [1, 2, 3, 4]
# Answer: Use the append() method to add 10 to the list.
my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

In [9]:
# Q8: Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
# Answer: Use the remove() method to delete a specific value.
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

In [10]:
# Q9: Write a code to access the second element in the list ['a', 'b', 'c', 'd']
# Answer: Use indexing to get the second element (index 1).
letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

In [11]:
# Q10: Write a code to reverse the list [10, 20, 30, 40, 50]
# Answer: Use the reverse() method or slicing to reverse the list.
my_list = [10, 20, 30, 40, 50]
my_list.reverse()
print(my_list)
# OR use: print(my_list[::-1]) for a reversed copy

[50, 40, 30, 20, 10]

In [12]:
# Q11: Write a code to create a tuple with the elements 100, 200, 300 and print it
# Answer: Tuples are defined using parentheses.
t = (100, 200, 300)
print(t)

(100, 200, 300)

In [13]:
# Q12: Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
# Answer: Use negative indexing to access second-to-last element.
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

In [14]:
# Q13: Write a code to find the minimum number in the tuple (10, 20, 5, 15)
# Answer: Use the min() function.
nums = (10, 20, 5, 15)
print(min(nums))

5

In [15]:
# Q14: Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
# Answer: Use the index() method.
animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))

1

In [16]:
# Q15: Write a code to create a tuple containing three different fruits and check if "kiwi" is in it
# Answer: Use the "in" keyword to check for membership.
fruits = ("apple", "banana", "mango")
print("kiwi" in fruits)

False

In [17]:
# Q16: Write a code to create a set with the elements 'a', 'b', 'c' and print it
# Answer: Use curly braces or the set() constructor.
s = {'a', 'b', 'c'}
print(s)

{'c', 'a', 'b'}

In [18]:
# Q17: Write a code to clear all elements from the set {1, 2, 3, 4, 5}
# Answer: Use the clear() method to remove all items.
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

In [19]:
# Q18: Write a code to remove the element 4 from the set {1, 2, 3, 4}
# Answer: Use remove() or discard().
s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

In [20]:
# Q19: Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}
# Answer: Use the union() method or "|" operator.
a = {1, 2, 3}
b = {3, 4, 5}
print(a.union(b))

{1, 2, 3, 4, 5}

In [21]:
# Q20: Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}
# Answer: Use intersection() or "&".
a = {1, 2, 3}
b = {2, 3, 4}
print(a.intersection(b))

{2, 3}

In [22]:
# Q21: Write a code to create a dictionary with the keys "name", "age", and "city", and print it
# Answer: Use curly braces and key-value pairs.
person = {"name": "John", "age": 25, "city": "New York"}
print(person)

{'name': 'John', 'age': 25, 'city': 'New York'}

In [23]:
# Q22: Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}
# Answer: Use assignment to add a new key-value.
d = {'name': 'John', 'age': 25}
d["country"] = "USA"
print(d)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [24]:
# Q23: Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}
# Answer: Use square brackets or get() method.
d = {'name': 'Alice', 'age': 30}
print(d['name'])

Alice

In [25]:
# Q24: Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}
# Answer: Use the pop() or del keyword.
d = {'name': 'Bob', 'age': 22, 'city': 'New York'}
d.pop('age')
print(d)

{'name': 'Bob', 'city': 'New York'}

In [26]:
# Q25: Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}
# Answer: Use the "in" keyword for key lookup.
d = {'name': 'Alice', 'city': 'Paris'}
print("city" in d)

True

In [27]:
# Q26: Write a code to create a list, a tuple, and a dictionary, and print them all
# Answer: Create each type and print.
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {"a": 10, "b": 20}
print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3]
(4, 5, 6)
{'a': 10, 'b': 20}

In [28]:
# Q27: Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result
# Answer: Use random and sort.
import random
nums = random.sample(range(1, 101), 5)
nums.sort()
print(nums)

[6, 50, 67, 82, 91]

In [29]:
# Q28: Write a code to create a list with strings and print the element at the third index
# Answer: Index 3 gives the fourth element.
words = ["apple", "banana", "cherry", "date", "fig"]
print(words[3])

date

In [30]:
# Q29: Write a code to combine two dictionaries into one and print the result
# Answer: Use the update() method or unpacking (**).
d1 = {"a": 1, "b": 2}
d2 = {"c": 3, "d": 4}
combined = {**d1, **d2}
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [31]:
# Q30: Write a code to convert a list of strings into a set
# Answer: Use the set() function.
words = ["apple", "banana", "apple", "cherry"]
unique_words = set(words)
print(unique_words)

{'apple', 'banana', 'cherry'}